.container-main {
    display: flex;
    margin: auto;
    padding: 20px;
    background-color: #f6f6f6;
    justify-content: center;
}

.prdType {
    text-transform: uppercase;
    color: #222831;
}

.card-main {
    background: white;
    margin: 10px;
    
}


.card-deck{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: 1400px;
    grid-gap: 5rem;
    border-radius: 1cm;
}

.circle-number {
    border-radius: 60%;
    padding-left: 1px;
    padding-right: 5px; 
    border: 2px solid ;
}
